*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: #c2e3e3;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
}

img, picture, iframe {
  display: block;
  width: 100%;
  margin: auto;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px 20px 0 0;
  background-color: white;
}

.initial-values, .results {
  display: flex;
  margin: 1rem;
  flex-direction: column;
}


.results {
  background-color: #05454c;
}

.bill {
  display: flex;
  flex-direction: column;
}

.bill-input, .custom-tip, .number-people-input{
  border-color: #3db6a7;
  border-radius: 3px;
  border-style: solid;
  background-color: #f3fafa;
}
.bill-input, .number-people-input {
  background-repeat: no-repeat;
  background-size: initial;
  background-position: 5% center;
  padding: 10px;
  width: 100%;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 1rem;
  text-align: right;
}

.bill-input {
  background-image: url("../src/assets/icon-dollar.svg");
}

.select-tip-form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.select-tip-radio {
  visibility: hidden;
  position: absolute;
}

div.select-tip > form > label {
  background-color: #05454c;
  width: 120px;
  height: 40px;
  padding: 2px;
  text-align: center;
  color: white;
  border-radius: 3px;
  font-size: 1.5rem;
  margin: 1rem;
}

.custom-tip {
  height: 40px;
  width: 120px;
  margin: 1rem;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
}

.number-people-input {
  background-image: url("../src/assets/icon-person.svg");
}

.results {
    background-color: #05454c;
    width: 90%;
    border-radius: 20px;
    padding: 10px;
}