/* General Styles */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: #c2e3e3;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
}


img {
  display: block;
  margin: 0 auto;
  width: 50%;
  padding: 50px;

}

@media (min-width: 1024px) { 
  img {
    width: 15%;
  }
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px 20px 0 0;
  background-color: white;
}

@media (min-width: 1024px) { 
  .container {
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;
    flex-direction: row;
  }
}

.initial-values, .results {
  display: flex;
  margin: 1rem;
  flex-direction: column;
}



h2 {
  color: #778080;
}

h3 {
  color: #f3fbfb;
  font-size: 1.2rem;
  text-align: left;
}

@media (min-width: 1024px) {
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1rem;
  }
}

/* Bill Component */

.bill {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.bill-input, .custom-tip, .number-people-input{
  border-color: #3db6a7;
  border-radius: 3px;
  border-style: solid;
  background-color: #f3fafa;
}
.bill-input, .number-people-input {
  background-repeat: no-repeat;
  background-size: initial;
  background-position: 5% center;
  padding: 10px;
  width: 100%;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 2rem;
  text-align: right;
} 

@media (min-width: 1024px) {
  .bill-input, .number-people-input {
  padding: 5px;
  font-size: 1.2rem;
  }
}

.bill-input {
  background-image: url("../src/assets/icon-dollar.svg");
}

/* Select Tip Component  */

.select-tip {
  margin-bottom: 1rem;
}


.select-tip-form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.select-tip-radio{
  display: none;
}

.select-tip-div {
  display: flex;
}

.tip-radio {
  background-color: #05454c;
  width: 120px;
  height: 40px;
  padding: 2px;
  text-align: center;
  color: #f3fbfb;
  border-radius: 3px;
  font-size: 1.5rem;
  margin: 1rem;
} 

.selected{
  background-color:#27c1ab;
  color: #05454c;
}


.custom-tip {
  height: 40px;
  width: 120px;
  margin: 1rem;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  color: #557977;
}

 /* Number of People Component */

.number-people-input {
  background-image: url("../src/assets/icon-person.svg");
}


/* Results Component */

.results {
    display: flex;
    background-color: #05454c;
    width: 90%;
    border-radius: 20px;
    padding: 10px;
} 

@media (min-width: 1024px) {
  .results {
  padding: 30px;
  }
}

.totals {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


button {
  background-color: #27c1ab;
  border: none;
  border-radius: 5px;
  width: 90%;
  padding: 20px;
  align-self: center;
  margin:15px;
  color: #05454c;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  button {
    margin-top: 150px;
  }
}

.person {
color: #759091;
}

.amount {
  width: 50%;
  text-align: right;
  color: #27c1ab;
  font-size: 3rem;
}